.admin-dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.admin-content {
    display: flex;
    flex: 1;
}

.main-content {
    flex:4;
    padding: 20px;
    overflow: auto;
    background-color: #f4f4f4;
}