/* Container principal pentru tabel și butoane */
.content-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Stiluri pentru tabelul cu elevi */
.students-table {
  width: 100%;
  margin-right: 20px;
}

.students-table table {
  width: 100%;
  border-collapse: collapse;
  background-color: #34495e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.students-table th, .students-table td {
  padding: 12px;
  text-align: left;
  color: #fff;
}
/* Modal pentru Note, Absențe, Detalii */

/* Stiluri pentru modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundal semi-transparent */
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex; /* Afișează modalul când este activ */
}

.modal-content {
  background-color: #1f3c5d; /* Albastru închis */
  padding: 20px;
  border-radius: 8px;
  color: #fff; /* Text alb pentru a se potrivi cu fundalul */
  max-width: 500px;
  width: 90%;
}

.modal-header h3 {
  margin: 0;
  color: #fff;
}

.modal-close {
  color: #fff;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-footer button {
  background-color: #2a4d75; /* Albastru mai deschis pentru butonul de închidere */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #1f3c5d;
}

.students-table th {
  background-color: #1b2838;
  font-weight: bold;
}

.students-table tbody tr:nth-child(even) {
  background-color: #2c3e50;
}

.students-table tbody tr:nth-child(odd) {
  background-color: #34495e;
}

.students-table tbody tr:hover {
  background-color: #5c6bc0;
  cursor: pointer;
}

.selected {
  background-color: #3498db;
}

/* Stiluri pentru butoanele de acțiune din tabel */
.students-table .action-button {
  margin: 0 5px;
  padding: 8px 12px;
  font-size: 14px;
  color: #fff;
  background-color: #1baf5b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.students-table .action-button:hover {
  background-color: #197f4e;
}

.students-table .action-button:nth-child(2) {
  background-color: #3498db;
}

.students-table .action-button:nth-child(2):hover {
  background-color: #2a7cb8;
}

.students-table .action-button:nth-child(3) {
  background-color: #f39c12;
}

.students-table .action-button:nth-child(3):hover {
  background-color: #e67e22;
}

/* Stiluri pentru butonul de logout */
.lgbutton {
  padding: 10px 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.lgbutton:hover {
  background-color: #c0392b;
}
