.upper-dropdowns select {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 200px;
}

.search-and-dropdowns {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.upper-dropdowns {
    display: flex;
    gap: 10px;
}

.search-bar {
    padding: 8px;
    font-size: 20px;
    width: 400px;
}