.custom-navbar {
    background-color: #333333;
    color: #FFFFFF;
}

.custom-navbar .navbar-brand {
    color: #FFFFFF;
}

.custom-navbar .navbar-nav .nav-link {
    color: #FFFFFF;
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #FFC107;
}

.custom-navbar .dropdown-item {
    color: #333333;
}

.custom-navbar .dropdown-item:hover {
    background-color: #4c4c4c;
    color: #FFFFFF;
}